BODY, .Body_Text {
	font-family: OpenSans, sans-serif;
background-color: #ffffff;

font-size: 14px;

}

a, .liens {

 color: #f7941d;
text-decoration:underline;
}



h1, h2, h3, H4, h5, h6, p  {
		
	font-family:OpenSans, sans-serif;
	text-align:left;
}
H1, .Rr {

		font-size:26px;
	font-weight:400;
		color: #f7941d;
}

H2 {
	color: #4e4e4e;	
 	font-size: 22px;	
    font-weight:400; 
}


H3 {
        Font-size : 16px ;
text-transform : uppercase ;
color: #9b9b9b;

}

H4 {
	
font-size : 14px;
font-weight :bold ;
color :#f7941d ;

}

H5 {	
	color:#9b9b9b;
	font-size: 13px;
	font-variant: small-caps;	
}


H6 {
	font-variant: small-caps;	
	color:#4e4e4e;
font-style:italic;
	font-size: 12px;
}


OL,
UL, ul {

list-style:none;
margin:0;
padding:0
}


LI, .puce {
background-image:url('image/smallorange.jpg');	
background-repeat:no-repeat;
margin:10px 0 10px 0 ;
padding:0 0 0 25px;
	
}


LI.puce2, LI.p-puce2, .puce2 {

background-image:url('image/smallgray.jpg');	
background-repeat:no-repeat;
margin:10px 0 10px 25px ;
padding:0 0 0 25px;
}





A.expandspot {
	color: #008000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}
SPAN.expandtext {
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}
A.dropspot {
	cursor: hand;
	color: #008000;
	font-style: italic;
	text-decoration: none;
}
A.glossterm {
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}
SPAN.glosstext {
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}


P.VoirAussi {
	color:#4e4e4e;font-style:italic;
}



SPAN.Divalto {
	
	font-weight: bold;
	
	font-variant: small-caps;
	color: #f7941d;
}
SPAN.SymbolesDCPT {
	color: #008000;
}


P.RefPages {
	x-next-class: ;
	x-next-type: P;
	font-weight: bold;
	font-style: normal;
	color: #800080;
	font-variant: normal;
}
LI.P-RefPages {
	font-weight: bold;
	font-style: normal;
	color: #800080;
	font-variant: normal;
}




.Liens2 {
	
	font-size: 0.85em;
	
}


